# Dependências e artefatos gerados
node_modules
dist
coverage

# GitHub/Git
.git
.github

# Variáveis de ambiente locais
.env
.env.*
!.env.example

# Logs de gerenciadores de pacote
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operacional e overrides locais
.DS_Store
*.local
